.stream-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 56.25%; /* 16:9 ratio */
}

.stream-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
